version: '3.9'
services:
  infinitecraftlogger:
    image: ghcr.io/yanorei32/infinite-craft-logger:latest
    hostname: infinitecraftlogger
    container_name: infinitecraftlogger__infinitecraftlogger
    restart: unless-stopped

    environment:
      HTTPS: "true"
      TOKENS: ${ICL_TOKENS}

    volumes:
      - type: volume
        source: infinitecraftlogger_data
        target: /var/infinite-craft-logger/

    expose:
      - 8888

    networks:
      - default

    deploy:
      resources:
        limits:
          memory: 512m

  cloudflared:
    image: cloudflare/cloudflared:2026.2.0@sha256:404528c1cd63c3eb882c257ae524919e4376115e6fe57befca8d603656a91a4c
    hostname: cloudflared
    container_name: infinitecraftlogger__cloudflared
    restart: unless-stopped

    environment:
      TUNNEL_METRICS: 0.0.0.0:9126
      TUNNEL_LOGFILE: /dev/stdout

    command: tunnel run --token ${TUNNEL_TOKEN}
    user: root

    networks:
      default:

    deploy:
      resources:
        limits:
          memory: 128m

volumes:
  infinitecraftlogger_data:
    name: infinitecraftlogger__infinitecraftlogger_data

networks:
  default:
    name: infinitecraftlogger__default
