version: '3.9'
services:
  infinitecraftlogger:
    image: ghcr.io/yanorei32/infinite-craft-logger:latest
    hostname: infinitecraftlogger
    container_name: infinitecraftlogger__infinitecraftlogger
    restart: unless-stopped

    environment:
      HTTPS: "true"
      TOKENS: ${ICL_TOKENS}

    volumes:
      - type: volume
        source: infinitecraftlogger_data
        target: /var/infinite-craft-logger/

    expose:
      - 8888

    networks:
      - default

    deploy:
      resources:
        limits:
          memory: 512m

  cloudflared:
    image: cloudflare/cloudflared:2025.11.1@sha256:89ee50efb1e9cb2ae30281a8a404fed95eb8f02f0a972617526f8c5b417acae2
    hostname: cloudflared
    container_name: infinitecraftlogger__cloudflared
    restart: unless-stopped

    environment:
      TUNNEL_METRICS: 0.0.0.0:9126
      TUNNEL_LOGFILE: /dev/stdout

    command: tunnel run --token ${TUNNEL_TOKEN}
    user: root

    networks:
      default:

    deploy:
      resources:
        limits:
          memory: 128m

volumes:
  infinitecraftlogger_data:
    name: infinitecraftlogger__infinitecraftlogger_data

networks:
  default:
    name: infinitecraftlogger__default
